.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
src/**
.yarn/**
.gitignore
.yarnrc
.yarnrc.yml
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
packages/**/src/**
packages/**/node_modules/**
!packages/**/node_modules/@vscode/codicons/dist/**
packages/**/*.config.*
!packages/**/dist/**
