.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.centerContainer {
  width: 100%;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.centered {
  max-width: 566px;
  min-width: 360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: var(--hmc-space-9) 0 var(--hmc-space-9);
  scrollbar-gutter: stable;
  overflow: auto;

  .breadcrumb {
    color: var(--vscode-breadcrumb-foreground);
  }

  .title {
    margin-top: var(--hmc-space-2);
    font-size: var(--hmc-font-size-9);
    font-weight: 700;
    line-height: 120%;
    margin: 0;
  }
}

.searchSection {
  display: flex;
  align-items: center;
  margin-top: var(--hmc-space-7);
  padding: 0 var(--hmc-space-9);
  margin-bottom: var(--hmc-space-7);

  .searchBar {
    flex-grow: 1;
    width: 100%;
  }

  .availableCount {
    white-space: nowrap;
  }
}

.nodeListContainer {
  flex: 1;
  overflow-y: auto;
  scrollbar-gutter: stable;
  min-height: 0;
  position: relative;
  padding: 0 var(--hmc-space-9);
}

.nodeItem {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  border: var(--hmc-border-width-1) solid var(--vscode-editorWidget-border);
  height: fit-content;
  border-radius: var(--hmc-border-radius-2);
  margin-bottom: var(--hmc-space-3);
  background-color: var(--vscode-sideBar-background);
  cursor: pointer;

  &:focus-within {
    border: var(--hmc-border-width-1) solid var(--vscode-focusBorder);
  }

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }

  .radio {
    border-right: var(--hmc-border-width-1) solid
      var(--vscode-editorWidget-border);
    padding: var(--hmc-space-3);
    align-self: stretch;
    width: fit-content;
    margin-left: var(--hmc-space-3);
  }

  .nodeInfo {
    padding: var(--hmc-space-5);
    width: 100%;

    .nodeName {
      font-weight: bold;
      margin-bottom: var(--hmc-space-2);
    }

    .nodeDescription {
      font-size: 13px;
      color: var(--vscode-descriptionForeground);
      margin-bottom: var(--hmc-space-4);
    }

    .customNodeInput {
      width: 100%;
    }

    .showMore {
      color: var(--vscode-textLink-foreground);
      text-decoration: none;
      font-size: 13px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  padding: var(--hmc-space-9);
  border-top: 1px solid var(--vscode-editorWidget-border);
  background-color: var(--vscode-editor-background);
  overflow: auto;
  scrollbar-gutter: stable;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 360px;
    max-width: 566px;
    overflow: auto;
    scrollbar-gutter: stable;
  }
}
